---
import Layout from '../layouts/Layout.astro';

---

<Layout  title="Kerala Startup Mission">



    <div class="preloader ">
        <button class="th-btn style3 preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <span class="loader"></span>
        </div>
    </div>


<!-- ==============================--> 

<header class="th-header header-layout3">
   
    <div class="sticky-wrapper">
        <div class="container">
            <div class="menu-area">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo flex gap-4">
                            <a ><img src="/mindcartergit/img/logo-white.svg" class=" w-24" alt="Konta"></a>
                            <a ><img src="/mindcartergit/assets/img/logomind.svg" class=" w-24" alt="Konta"></a>

                        </div>
                    </div>
                    <div class="col-auto me-lg-auto">
                       
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <div class="header-button">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                   
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                </ul>
                            </nav>
                            <a  class="th-btn style3 ml-15">Apply Now<i class="fas fa-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--==============================
Hero Area
==============================-->

    <div class="th-hero-wrapper hero-2" id="hero">
        <div class="hero-slider-2 th-carousel" id="heroSlide2" data-slide-show="1" data-md-slide-show="1" data-fade="true">


            <div class="th-hero-slide">
                <div class="th-hero-bg" data-bg-src="/mindcartergit/assets/img/bg11.jpg">
                    <img src="/mindcartergit/assets/img/hero/hero_overlay_2.png" alt="Hero Image">
                </div>
                <div class="big-text" data-ani="slideindown" data-ani-delay="0.2s">Synthesis</div>
                <div class="container th-container">
                    <div class="hero-style2">
                        <h1 class=" pb-6 text-[#ff5e14] text-6xl uppercase font-extrabold" data-ani="slideindown" data-ani-delay="0.5s">
                            <span class=" z-[300px] uppercase text-theme hero-title">Synthesis</span>
                           
                        </h1>
                        <h1 class="hero-title text-white text-4xl" data-ani="slideindown" data-ani-delay="0.4s" style="text-transform: uppercase;">Know your team</h1>
                        <h1 class="hero-title text-white text-4xl" data-ani="slideindown" data-ani-delay="0.1s" style="text-transform: uppercase;"><span class="text-theme">better</span></h1>
                        <p class="hero-text" data-ani="slideinup" data-ani-delay="0.1s" style="text-transform: uppercase;" >Respect their Uniqueness Improve Productivity retain them
                        </p>
                        <div class="btn-group" data-ani="slideinup" data-ani-delay="0.5s">
                            <a href="/" class="th-btn style3">Apply Now<i class="fas fa-long-arrow-right ms-2"></i></a>
                            <!-- <a href="contact.html" class="th-btn style2">CONTACT US<i class="fas fa-long-arrow-right ms-2"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
    <!--======== / Hero Section ========--><!--==============================
About Area  
==============================-->
    <div class="overflow-hidden pt-24 pb-10" id="about-sec">
        <!-- <div class="shape-mockup jump d-md-block d-none" data-right="0" data-bottom="10%"><img src="/mindcartergit/assets/img/normal/about_2_shape1.png" alt="shapes"></div> -->
        <div class="container">
            <div class="row flex-row-reverse align-items-center">
                <div class="col-xl-6 mb-50 mb-xl-0">
                    <div class="img-box2 tilt-active">
                        <div class="img1">
                            <img src="/mindcartergit/assets/img/009Q.jpg" alt="About" class=" z-[]">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about2-title-wrap">
                            <span class="sub-title2 flex"><img class="me-1" src="/mindcartergit/assets/img/icon/subtitle-img2-1.svg" alt="img">About</span>
                        <p class="mt-n2 mb-25">Welcome to MindCarter&#39;s innovative Personality-Based Coaching Program, designed exclusively for
                            start-up founders and their teams. Our program offers a unique and tailored approach to personal and
                            professional development by harnessing the power of individual personality traits to drive success in the
                            dynamic world of entrepreneurship.</p>
                        <p class="mb-25">Our program is firmly rooted in the profound principles of humanistic psychology, guided by the belief in
                            the inherent potential for growth and self-actualization within every individual. We cherish the
                            complete essence of each person, valuing their subjective experiences, rather than reducing them to
                            mere fragments for judgment.</p>

                        <p class="mb-25" style="display: none;" id="ab2" >At MindCarter, we recognize the paramount importance of free will and personal responsibility in
                            shaping human behavior. Our dedication lies in fostering an environment where individuals are
                            empowered to exercise their freedom to choose and take full responsibility for their actions and
                            decisions.</p>

                            <p class="mb-25" style="display: none;" id="ab3">Our mission is clear: to assist founders and their teams in achieving congruent self-perception,
                                discovering their strengths, and driving personal growth through guided, deep-rooted self-reflection.</p>
                      
                        <a onclick="toggleParagraph()" id="button" class="th-btn px-3 py-2 text-xs cursor-pointer">Read More<i class="far fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--==============================
Service Area  
==============================-->

<section class="space overflow-hidden" data-bg-src="/mindcartergit/assets/img/1.png" id="service-sec">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title6 justify-content-center text-white"><span class="shape left"><span class="dots"></span></span> Why Personality-Based Coaching Matters <span class="shape right"><span class="dots"></span></span> </span>
        </div>
        <p class=" text-white text-center text-lg">In the fast-paced world of start-ups, every founder and team member brings a distinct set of strengths,
            weaknesses, and behaviors to the table. At MindCarter, we recognize that these unique traits shape
            decision-making, team work, leadership styles, conflict management, and the overall philosophy of each
            individual. This program focuses on acknowledging and harnessing these distinct qualities to unlock your
            full potential.</p>
    </div>
</section>


<section class=" pt-20 pb-10 overflow-hidden" data-bg-src="/mindcartergit/assets/img/bg10.jpg" id="service-sec">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title6 justify-content-center"><span class="shape left"><span class="dots"></span></span>Benefits to Founders and Employees <span class="shape right"><span class="dots"></span></span> </span>
            <h2 class="sec-title text-lg">Our program offers a range of benefits to founders and their teams</h2>
        </div>
        <div class="row gx-0">
            <div class="col-md-6 col-lg-4 service-list-wrap">
                <div class="service-list">
                    <div class="service-list_icon">
                        <img src="/mindcartergit/assets/img/update1/icon/about_1_2.svg" alt="Icon">
                    </div>
                    <div class="service-list_content">
                        <h3 class="service-list_title box-title" data-bs-toggle="modal" data-bs-target="#serviceModal">Personalized Development</h3>
                        <p class="service-list_text">Tailored coaching and training programs address specific needs, fostering professional development and individual career advancement.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 service-list-wrap">
                <div class="service-list">
                    <div class="service-list_icon">
                        <img src="/mindcartergit/assets/img/update1/icon/service_4_2.svg" alt="Icon">
                    </div>
                    <div class="service-list_content">
                        <h3 class="service-list_title box-title" data-bs-toggle="modal" data-bs-target="#serviceModal">Improved Organizational Performance</h3>
                        <p class="service-list_text">Assess and enhance factors affecting organizational success, such as communication, teamwork, and talent utilization.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 service-list-wrap">
                <div class="service-list">
                    <div class="service-list_icon">
                        <img src="/mindcartergit/assets/img/update1/icon/a_feature_1_2.svg" alt="Icon">
                    </div>
                    <div class="service-list_content">
                        <h3 class="service-list_title box-title" data-bs-toggle="modal" data-bs-target="#serviceModal">Leadership Development</h3>
                        <p class="service-list_text">Identify leadership potential and equip founders and leaders with the skills to drive innovation and lead change.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 service-list-wrap">
                <div class="service-list">
                    <div class="service-list_icon">
                        <img src="/mindcartergit/assets/img/update1/icon/feature_3_1.svg" alt="Icon">
                    </div>
                    <div class="service-list_content">
                        <h3 class="service-list_title box-title" data-bs-toggle="modal" data-bs-target="#serviceModal">Growth and Success</h3>
                        <p class="service-list_text">Gain the skills and knowledge needed to drive start-ups forward, directly contributing to their growth and success.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 service-list-wrap">
                <div class="service-list">
                    <div class="service-list_icon">
                        <img src="/mindcartergit/assets/img/icon/about-grid-icon1.svg" alt="Icon">
                    </div>
                    <div class="service-list_content">
                        <h3 class="service-list_title box-title" data-bs-toggle="modal" data-bs-target="#serviceModal">Supportive Work Environment</h3>
                        <p class="service-list_text">Prioritize well-being to enhance employee satisfaction, engagement, and retention within start-ups.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 service-list-wrap">
                <div class="service-list">
                    <div class="service-list_icon">
                        <img src="/mindcartergit/assets/img/update1/icon/a_feature_1_1.svg" alt="Icon">
                    </div>
                    <div class="service-list_content">
                        <h3 class="service-list_title box-title" data-bs-toggle="modal" data-bs-target="#serviceModal">Targeted Support</h3>
                        <p class="service-list_text">Offer data-driven and effective interventions to maximize the positive impact on start-up success.</p>

                    </div>
                </div>
            </div>
            
        </div>
        <div class="title-area text-center mt-20 sm:w-3/5 w-full mx-auto ">
            <span class="sub-title6 justify-content-center"><span class="shape left"><span class="dots"></span></span><span class="shape right"><span class="dots"></span></span> </span>
            <p class="sec-title text-lg">At MindCarter, we&#39;re committed to empowering start-up founders and their teams to thrive by
                embracing their uniqueness. Join us on this journey of personalized growth and success in the world of
                entrepreneurship.</p>
        </div>
    </div>
</section>







<section class=" py-16 testi-sec" data-bg-src="/mindcartergit/assets/img/bg0.png">
    <div class="container">
       
        <div class="row justify-content-end">
            <div class="col-xl-8">
                <div class="row justify-content-lg-between align-items-end">
                    <div class="col-lg-9 mb-n2 mb-lg-0">
                        <div class="title-area">
                            <span class="sub-title6 text-white">
                                Key Objectives
                                <span class="shape right"><span class="dots"></span></span>
                            </span>
                            <h6 class="sec-title text-white">Our program is designed with specific goals in mind to benefit both founders and their employees:</h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="sec-btn">
                            <div class="icon-box style2">
                                <button data-slick-prev="#testiSlide1" class="slick-arrow default"><i class="far fa-arrow-left"></i></button>
                                <button data-slick-next="#testiSlide1" class="slick-arrow default"><i class="far fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div> <!-- / Title row -->
                <div   class="row th-carousel" id="testiSlide1" data-slide-show="2" data-lg-slide-show="2" data-md-slide-show="2">
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_1.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Enhanced Self-Awareness</h3>
                                <!-- <span class="testi-box_desig">CEO of Maithon</span> -->
                                <p class="testi-box_text ">Gain deeper insights into your personality traits, strengths,
                                    weaknesses, and behavioral patterns to make informed decisions and foster more effective
                                    interactions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_2.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Personal Development</h3>
                                <p class="testi-box_text">Leverage your inherent traits to develop skills, behaviors, and habits
                                    that align with your personality, boosting self-confidence, communication skills, and emotional
                                    intelligence.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Goal Achievement</h3>
                                <p class="testi-box_text">coaching techniques to match your personality, increasing the
                                    likelihood of setting and achieving meaningful goals and enhancing motivation.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Optimized Communication</h3>
                                <p class="testi-box_text">Learn how to communicate and collaborate effectively with others
                                    based on personality traits, resulting in improved team dynamics, conflict resolution, and
                                    relationship building.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Improved Decision-Making</h3>
                                <p class="testi-box_text">Make decisions that align with your personality and values, leading
                                    to more authentic and sustainable choices in both personal and professional contexts.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Conflict Management</h3>
                                <p class="testi-box_text">Develop strategies to manage conflicts in ways that resonate with your
                                    personality, reducing friction and enhancing overall well-being.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Leadership Development</h3>
                                <p class="testi-box_text">Capitalize on your natural leadership tendencies to nurture authentic
                                    and influential leadership styles.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Career Advancement</h3>
                                <p class="testi-box_text">Align your career choices with your personality traits and strengths for
                                    more fulfilling and successful career paths.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Team Building</h3>
                                <p class="testi-box_text">Understand each team member&#39;s personality traits to improve collaboration,
                                    communication, and overall team performance.</p>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Innovation and Creativity</h3>
                                <p class="testi-box_text">Embrace an environment where unique personality traits contribute
                                    to innovative thinking and problem-solving.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Adaptability and Change Management</h3>
                                <p class="testi-box_text">Navigate challenges and embrace new opportunities by
                                    leveraging your personality traits.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Work-Life Balance</h3>
                                <p class="testi-box_text">Create a work-life balance that aligns with your personality preferences to
                                    reduce burnout.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <img src="/mindcartergit/assets/img/update1/testimonial/testi_1_3.jpg" alt="Avater">
                            </div>
                            <div class="testi-box_content h-[40vh]">
                                <h3 class="testi-box_name">Long-term Growth</h3>
                                <p class="testi-box_text">Continue using your self-awareness and personalized strategies beyond the
                                    coaching program for ongoing personal and professional development.</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>






<!-- strature -->
<div class="space"  data-bg-src="/mindcartergit/assets/img/bgh.png" >
    <div class="container">
        <div class="flex flex-row-reverse">
            <div class="md:w-1/3">
                <div class="img-box2 tilt-active">
                    <div class="img1">
                        <img src="/mindcartergit/assets/img/note.png" alt="About" class=" z-[]">
                    </div>
                </div>
            </div>
            <div class="md:w-2/3">
                <div class="title-area mb-30">
                    <span class="sub-title6">
                        Structure of the program
                        <span class="shape right"><span class="dots"></span></span>
                    </span>
                   
                </div>
                <p class="mt-n2 mb-30">The program follows a structured process that aims to enhance personal and professional
                    development. Here&#39;s an outline of the process</p>
             
               
                <div class=" w-3/4 mx-auto">
                    <div class="mission-area ">
                        <div class="tab-menu3 filter-menu-active">
                            <button data-filter=".cat1" class="active" type="button"><span class=" text-xs">Step</span>1</button>
                            <button data-filter=".cat2" type="button"><span class=" text-xs">Step</span>2</button>
                            <button data-filter=".cat3" type="button"><span class=" text-xs">Step</span>3</button>
                            <button data-filter=".cat4" type="button"><span class=" text-xs">Step</span>4</button>
                            <button data-filter=".cat5" type="button"><span class=" text-xs">Step</span>5</button>
                          
    
                        </div>
                        <div class="mission-box-wrap filter-active-cat1">
                            <div class="filter-item cat1">
                                <div class="mission-box">
                                    <h3 class="h4 mission-title">Registration</h3>
                                    <p class="mission-text">At the outset, candidates express their interest by completing a registration form. This form
                                        includes details such as their name, email address, and gender.</p>
                                   
                                </div>
                            </div>
                            <div class="filter-item cat2">
                                <div class="mission-box">
                                    <h3 class="h4 mission-title">Personality Assessment</h3>
                                    <p class="mission-text">Following registration, candidates will receive a link to a comprehensive Big Five personality
                                        assessment. This assessment is designed to delve into their personality traits and
                                        preferences. The assessment is anticipated to take approximately 25 minutes to complete.</p>
                                   
                                </div>
                            </div>
                            <div class="filter-item cat3">
                                <div class="mission-box">
                                    <h3 class="h4 mission-title">Individualized Assessment Report</h3>
                                    <p class="mission-text">Upon completion of the assessment, candidates can instantly download their personalized
                                        assessment report. This report will provide a detailed analysis of their personality traits,
                                        shedding light on their strengths, preferences, and areas with potential for growth.</p>
                                   
                                </div>
                            </div>

                            <div class="filter-item cat4">
                                <div class="mission-box">
                                    <h3 class="h4 mission-title">One-on-One Coaching</h3>
                                    <p class="mission-text">Armed with the insights from their assessment report, candidates will engage in
                                        individualized one-on-one coaching sessions. These coaching sessions will be tailored to
                                        leverage their unique personality traits, fostering professional growth and personal
                                        development.</p>
                                   
                                </div>
                            </div>

                            <div class="filter-item cat5">
                                <div class="mission-box">
                                    <h3 class="h4 mission-title">Follow-Up Session</h3>
                                    <p class="mission-text">Upon successfully completing the coaching program, a follow-up session will be scheduled.
                                        The timing of this session will be arranged to accommodate the availability of both the
                                        candidate and the coach. This session will serve as an opportunity to revisit progress,
                                        address any further needs, and solidify the gains made through the coaching program.</p>
                                   
                                </div>
                            </div>
    
                            
                        </div>
                    </div>
                </div>
             

            </div>
        </div>
    </div>
    <!-- <div class="shape-mockup d-none d-xl-block" data-bottom="0%" data-right="0"><img src="/mindcartergit/assets/img/update1/shape/building_1.png" alt="shape"></div> -->
</div>

<footer class=" bg-[#0e121d] flex justify-between py-8 text-white">
    
    <div class="container">
        <div class=" flex justify-between">
            <p class=" text-white">Copyright © 2023 All Rights Reserved.</p>
            <p class="">
                
                <p class=" text-white"><a href="https://startupmission.kerala.gov.in/" target="_blank">Powered by Kerala Startup Mission ®</a></p>
            </p>
        </div>
    </div>
</footer>


    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

</Layout>

    <script is:inline>
        function toggleParagraph() {
         var paragraph = document.getElementById("ab2");
         var paragraph1 = document.getElementById("ab3");
         var button = document.getElementById("button");
   
         if (paragraph.style.display === "none") {
           paragraph.style.display = "block";
           paragraph1.style.display = "block";
           button.innerHTML = "Read less";
         } else {
           paragraph.style.display = "none";
           paragraph1.style.display = "none";
           button.innerHTML = "Read more";
         }
       }
   </script>
