<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kerala Startup Mission | MindCarter</title>
    <meta name="author" content="themeholy">
    <meta name="description" content="Kerala Startup Mission | MindCarter">
    <meta name="keywords" content="Kerala Startup Mission | MindCarter">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logo.svg">
    <link rel="manifest" href="/mindcartergit/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mindcartergit/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">


    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/mindcartergit/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="/mindcartergit/assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/mindcartergit/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="/mindcartergit/assets/css/slick.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/mindcartergit/assets/css/nice-select.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/mindcartergit/assets/css/style.css">

</head>

<body>
		
		<slot />

  <script src="/mindcartergit/assets/js/vendor/jquery-3.6.0.min.js" is:inline></script>
    <!-- Slick Slider -->
    <script src="/mindcartergit/assets/js/slick.min.js" is:inline></script>
    <!-- Bootstrap -->
    <script src="/mindcartergit/assets/js/bootstrap.min.js" is:inline></script>
    <!-- Magnific Popup -->
    <script src="/mindcartergit/assets/js/jquery.magnific-popup.min.js" is:inline></script>
    <!-- Counter Up -->
    <script src="/mindcartergit/assets/js/jquery.counterup.min.js" is:inline></script>
    <!-- Circle Progress -->
    <script src="/mindcartergit/assets/js/circle-progress.js" is:inline></script>
    <!-- Range Slider -->
    <script src="/mindcartergit/assets/js/jquery-ui.min.js" is:inline></script>
    <!-- Isotope Filter -->
    <script src="/mindcartergit/assets/js/imagesloaded.pkgd.min.js" is:inline></script>
    <script src="/mindcartergit/assets/js/isotope.pkgd.min.js" is:inline></script>
    <!-- Tilt JS -->
    <script src="/mindcartergit/assets/js/tilt.jquery.min.js" is:inline></script>
    <!-- Tweenmax JS -->
    <script src="/mindcartergit/assets/js/tweenmax.min.js" is:inline></script>
    <!-- Nice Select JS -->
    <script src="/mindcartergit/assets/js/nice-select.min.js" is:inline></script>

    <!-- Main Js File -->
    <script src="/mindcartergit/assets/js/main.js" is:inline></script>
	</body>
</html>
